<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.tapapplication"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Bluetooth_contact.Ble_MainActivity"></activity>
        <activity android:name=".Bluetooth_contact.DeviceActivity"/>
        <activity android:name=".BaseTap"></activity>
        <activity android:name=".DanceTap"></activity>
        <activity android:name=".CheckBattery"></activity>
        <activity android:name=".WrongTap"></activity>
        <activity android:name=".FavoriteTap"></activity>
        <activity android:name=".Dongjak1"></activity>
        <activity android:name=".Dongjak2"></activity>
        <activity android:name=".Dongjak3"></activity>
        <activity android:name=".dongjak1_play.Tap1Play"></activity>
        <activity android:name=".dongjak1_play.Tap2Play"></activity>
        <activity android:name=".dongjak1_play.BalldrPlay"></activity>
        <activity android:name=".dongjak1_play.BallchPlay"></activity>
        <activity android:name=".dongjak1_play.HeeldrPlay"></activity>
        <activity android:name=".dongjak1_play.DikPlay"></activity>
        <activity android:name=".dongjak1_play.HopsuPlay"></activity>
        <activity android:name=".dongjak1_play.StepPlay"></activity>
        <activity android:name=".dongjak2_play.BrushPlay"></activity>
        <activity android:name=".dongjak2_play.BuffPlay"></activity>
        <activity android:name=".dongjak2_play.CrampPlay"></activity>
        <activity android:name=".dongjak2_play.FlapPlay"></activity>
        <activity android:name=".dongjak2_play.StampPlay"></activity>
        <activity android:name=".dongjak2_play.SufflePlay"></activity>
        <activity android:name=".dongjak3_play.DragPlay"></activity>


    </application>

</manifest>